*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    max-width: 1200px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFF;
}
li{
    display: inline;
}
li a{
    display: inline-block;
    color: #1B1B1B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

a
{
    position: relative;
}

a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a:hover:before {
    visibility: visible;
    width: 100%;
  }
  

